.jumbotron, .modal-header {
  font-family: 'Gruppo', cursive;
  background-color: #34495e;
  color: white;
  border-radius: 0px !important;
}

.modal-header > h1 {
  font-weight: bolder !important;
}

img {
  height: 50%;
  width: 50%;
  min-height: 100px;
  min-width: 100px;
  border-radius: 50%;
}

.user-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.user-buttons > button {
  width: 40%;
  min-width: 60px;
}

.table-title, .sign-up > .header {
  text-align: center;
  background-color: #9B59B6;
  color: white;
}

form {
  text-align: center;
  border: 1px LightGray solid;
}

.sign-up {
  min-width: 382px;
}

form {
  min-width: 350px;
}

form > div > div > input {
  min-width: 120px;
  text-align: center;
  font-size: 14px;
}
