

.user-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.user-buttons > button {
  width: 40%;
  min-width: 70px;
}

.table-title, .sign-up > .header {
  text-align: center;
  background-color: #9B59B6;
  color: white;
}

form {
  text-align: center;
  border: 1px LightGray solid;
}

.sign-up {
  min-width: 402px;
}

form {
  min-width: 370px;
}

form > div > div > input {
  min-width: 120px;
  text-align: center;
  font-size: 14px;
}
